# VITE_SERVER_URL: Endereço do Servidor JARVIS Backend (Ex: http://192.168.1.50:3000 -> IP do seu Linux Mint)
# Se estiver testando na mesma máquina, basta http://localhost:3000
VITE_SERVER_URL="http://localhost:3000"

# OLLAMA_HOST: Host do Ollama Local (ex: http://localhost:11434)
OLLAMA_HOST="http://localhost:11434"

# HOME_ASSISTANT_IP: IP Local do seu Home Assistant (ex: 192.168.15.8)
HOME_ASSISTANT_IP=""

# HOME_ASSISTANT_TOKEN: Token de Acesso de Longa Duração do seu HA
HOME_ASSISTANT_TOKEN=""

# GROQ_API_KEY: Opcional para inferência avançada na web (n8n/fallback)
GROQ_API_KEY=""
